---
---

@import "architect";

header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Work Sans', 'Open Sans', Arial, serif;
    background: #405D7B url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #334a62;
  }
